
{% extends 'base.html.twig' %}

{% block title %}Mobilité | Aurelien Hurpy{% endblock %}

{% block body %}

<section class="container-fluid col-md-10 offset-md-1">
    <div class="mt-4 mb-5">  
       <iframe class="pintro container" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d330922.0515352127!2d1.2842117022103023!3d49.610410785507355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e736b820eb50f7%3A0xeb5003753bc871e!2s76440%20Forges-les-Eaux!5e0!3m2!1sfr!2sfr!4v1592934423543!5m2!1sfr!2sfr" width="1100" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
       </iframe>
       <div class="mt-4">
        <p><span class="bold2">Alors certes, Forges-Les-Eaux ça peut sembler un peu perdu..!</span> </p>
        <p><span class="bold2">MAIS ! Il existe toutes ces alternatives pour trouver une solution de travail <i class="far fa-laugh-beam"></i> : </span></p>
       </div>
        <div class="row">
            <div class="pt-5 pl-3 pr-5 hir">
                <h6>Possibilités de déplacement</h6>
                <div>Train Serqueux-Rouen</div>
                <div>Train Serqueux-Amiens</div>
                <div>Forges-Paris (voiture)</div>
            </div>
            <div class="pt-5 pr-5 pl-3 hir">
                <h6>Alternative</h6>
                <div>Télétravail</div>
            </div>
            <div class="pt-5 pl-3 hir">
                <h6>Débit connexion Internet</h6>
                <div>12mbps (tout bon pour de la visio ou des échanges serveur !)</div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

















