
{% extends 'base.html.twig' %}

{% block title %}Ressources | Aurelien Hurpy{% endblock %}

{% block body %}

<section class="container-fluid col-md-10 offset-md-1">
  
<div class="row container mt-3"> 
  <div class="right mr-5 mb-5">
    <h4 class="maint mb-3">Mon CV téléchargeable</h4>
    <embed src="/doc/CV Aurelien Hurpy.pdf" width=650 height=650 type='application/pdf'/>
  </div>
  <div class="left ml-2 col text-center align-self-center">
  <h4 class="maint">Liens & divers</h4>
    <div class="mt-3 ">  
      <p class="mb-4"><a href="http://www.formation31.fr/" target="blank" class="maingreen bold3">Formation31</a></p>
      <p class="mb-4"><a href="https://www.formaspeak.com/" target="blank" class="maingreen bold3">Formaspeak</a></p>
      <p class="mb-4"><a href="https://openclassrooms.com/fr/" target="blank" class="maingreen bold3">Openclassroom</a></p>
      <p class="mb-4"><a href="https://www.univ-rouen.fr/" target="blank" class="maingreen bold3">Université de Rouen</a></p>
      <p class="mb-4"><a href="https://www.pole-emploi.fr/accueil/" target="blank" class="maingreen bold3">Pole Emploi</a></p>
      <p class="mb-4"><a href="https://symfony.com/" target="blank" class="maingreen bold3">Symfony</a></p>
      <p class="mb-4"><a href="https://angular.io/" target="blank" class="maingreen bold3">Angular</a></p>
    </div>
    <div class="mt-3 mb-4">
      
      <p class="mb-4 maingreen bold3">Permis de conduire B</p>
      <p class="mb-4 maingreen bold3">Anglais : courant</p>
      <p class="mb-4 maingreen bold3">Français : Natif</p>
    </div>
  </div>

</div>     
</section>

{% endblock %}

















