
{% extends 'base.html.twig' %}

{% block title %}Compétences | Aurelien Hurpy{% endblock %}

{% block body %}

<section class="container-fluid col-md-10 offset-md-1 mt-3">
  
   <p>Grâce à ma formation Web, je possède une base solide en HTML5 / CSS3 / PHP7.</p>
   <p class="mb-4">Pendant mes études j'ai appris à utiliser différents frameworks comme Bootstrap, Symfony ou Angular.</p>
<h4 class="maint">Compétences Web</h4>
<div class="row skills mt-2 ">

            <div class="col-md-4 mt-1">
            
                
                <div class="progressb">
                    <div class="progress-bar"> 
                    <span class="text-barre">HTML5</span> 
                    </div>
                </div>   
                    <div class="progressb">
                    <div class="progress-bar barre2">
                    <span class="text-barre">CSS3</span> 
                    </div>
                </div>  
                    <div class="progressb">
                    <div class="progress-bar barre3"> 
                    <span class="text-barre">JAVASCRIPT</span>    
                    </div>
                 </div>
                 <div class="progressb">
                    <div class="progress-bar barre4">
                    <span class="text-barre">MYSQL</span>     
                    </div>
                 </div>   
            </div>
 
    
            <div class="col-md-4 mt-1 mb-5">
                <div class="progressb">
                    <div class="progress-bar2"> 
                    <span class="text-barre">PHP7</span> 
                    </div>
                </div>   
                    <div class="progressb">
                    <div class="progress-bar barre6">
                    <span class="text-barre">ANGULAR</span> 
                    </div>
                </div>  
                    <div class="progressb">
                    <div class="progress-bar barre7"> 
                    <span class="text-barre">ANDROID</span>    
                    </div>
                 </div>
                 <div class="progressb">
                    <div class="progress-bar barre8">
                    <span class="text-barre">SYMFONY</span>     
                    </div>
                 </div>   
            </div>
 
  </div> 

<h4 class="mt-4 maint">Compétences langues</h4>
  <div class="container mt-3">
    <div class="row ">
        <div class="col-md-3 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Français</div>
            </div>
            <p class ="text-center mt-4 bold3">Natif</p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">Anglais</div>
            </div>
            <p class ="text-center mt-4 bold3">Presque bilingue ! Score TOIC : 890</p>
        </div>
    </div>
</div>
     
</section>

{% endblock %}

















