<!DOCTYPE html>
<html>
    <head>
        <meta name="description" content="">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <title>{% block title %}Aurelien Hurpy | Accueil{% endblock %}</title>
        <link rel="icon" href="">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        {% block stylesheets %}{% endblock %}
        {# <script src="/js/jquery.min.js"></script> #}
        <script src="/js/jquery/jquery-2.2.4.min.js"></script>
        <script src="/js/bootstrap/popper.min.js"></script>
        <script src="/js/bootstrap/bootstrap.min.js"></script>
        <script src="/js/plugins/plugins.js"></script>
        <script src="/js/active.js"></script>
        <script src="/js/alert.js"></script>
    </head>
    <body>
        {% include 'inc/header.html.twig' %}
        {% block header %}{% endblock %}
        {% block body %}{% endblock %}
        {% include 'inc/footer.html.twig' %}
        {% block javascripts %}{% endblock %}
    </body>
</html>