
{% extends 'base.html.twig' %}

{% block title %}Loisirs | Aurelien Hurpy{% endblock %}

{% block body %}

<section class="container-fluid col-md-10 offset-md-1" id="foliohobbies">
<div class="row mt-3">
    

    <div class="containerimg mr-3">
      <img src="/img/cine.jpg" class="imghobbies" alt="">
      <div class="overlay">Films </div>
    </div>

    <div class="containerimg mr-3">
      <img src="/img/photo.jpg" class="imghobbies" alt="">
      <div class="overlay">Photo</div>
    </div>

    <div class="containerimg">
        <img src="/img/game.jpg" class="imghobbies" alt="">
      <div class="overlay">Jeux Video</div>
    </div>



  </div>
  <div class="row mt-3">

<div class="containerimg mr-3">
        <img src="/img/code.jpg" class="imghobbies" alt="">
      <div class="overlay">High-Tech</div>
    </div>

    

    <div class="containerimg mr-3">
        <img src="/img/book.jpg" class="imghobbies" alt="">
      <div class="overlay">Livres</div>
    </div>

    <div class="containerimg">
        <img src="/img/hiking.jpg" class="imghobbies" alt="">
      <div class="overlay">Voyages</div>
    </div>

    
 


  </div>
</section>

{% endblock %}

















