<footer class="footer-area fixed-bottom">
    <div class="top-footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-logo text-center m-1 fo">
                        Aurelien Hurpy Copyright 2020
                    </div>        
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/jquery/jquery-2.2.4.min.js"></script>
<script src="/js/bootstrap/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js"></script>
<script src="/js/plugins/plugins.js"></script>
<script src="/js/active.js"></script>